UNKNOWN {
	FONT-SIZE: 8pt; FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
TD {
	MARGIN-TOP: 0px; FONT-WEIGHT: normal; FONT-SIZE: 68%; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
P {
	MARGIN-TOP: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}

A {
	FONT-SIZE: 12px; COLOR: #4d4d4d; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A:link {
	FONT-SIZE: 12px; COLOR: #4d4d4d; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 12px; COLOR: #4d4d4d; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 12px; COLOR: #4d4d4d; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A:active {
	FONT-SIZE: 12px; COLOR: #4d4d4d; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.headtext {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.headtext A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.headtext A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.headtext A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.headtext A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.headtext A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.selectedtext {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3366aa; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.breadcrumbtext {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; MARGIN-BOTTOM: 5px; COLOR: #63686e; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.selectedtext A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3366aa; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.selectedtext A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3366aa; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.selectedtext A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3366aa; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.selectedtext A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3366aa; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.selectedtext A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3366aa; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.text {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.orangetext {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #e05d15; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.textgray {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #c9c9c9; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.text3 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.text4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.text3 B {
	COLOR: #71b169
}


B {
	FONT-WEIGHT: bold
}
B.search {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	FONT-SIZE: 100%; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; LIST-STYLE-TYPE: square
}
OL {
	FONT-SIZE: 100%; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; LIST-STYLE-TYPE: decimal
}
LI {
	MARGIN-TOP: 4pt; FONT-SIZE: 100%; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
LI.no-indent {
	LIST-STYLE: none url(../images/btn_sm.gif) outside; MARGIN-TOP: 2pt; PADDING-LEFT: 4px; FONT-SIZE: 100%; VERTICAL-ALIGN: top; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
LI.sm-indent {
	MARGIN-TOP: 4pt; FONT-SIZE: 82%; MARGIN-LEFT: -14pt; COLOR: #333333; TEXT-INDENT: -6px; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; LIST-STYLE-TYPE: square
}
LI.highlight {
	MARGIN-TOP: 6px; FONT-SIZE: 100%; MARGIN-LEFT: -4px; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; LIST-STYLE-TYPE: square
}
TD.top-navigation {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
TD.rowunderlined {
	BORDER-RIGHT: #cccccc 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 0px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #dddddd 0px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-DECORATION: none
}
TR.row {
	BACKGROUND-COLOR: #ffffff
}
P.call-to-action {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-LEFT: 10px; COLOR: #333333; LINE-HEIGHT: 13pt; MARGIN-RIGHT: 10px; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
P.navigation {
	MARGIN-TOP: 2pt; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
P.copyright {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
TD.questions-comments {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #555555; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
P.sm {
	FONT-SIZE: 82%; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
LI.home {
	MARGIN-TOP: 6px; MARGIN-LEFT: -14px
}
P.solutions-highlight {
	MARGIN-TOP: 3px; FONT-SIZE: 8pt; MARGIN-LEFT: 19px; LINE-HEIGHT: 13pt
}
P.sap-announces {
	MARGIN-TOP: 10px; FONT-SIZE: 8pt; MARGIN-LEFT: 19px; COLOR: #ffffff; LINE-HEIGHT: 12pt; MARGIN-RIGHT: 10px
}
A.community {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.community:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.community:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; TEXT-DECORATION: none
}
A.announces {
	COLOR: #ffffff
}
A.announces:visited {
	COLOR: #ffffff
}
A.announces:hover {
	COLOR: #ffffff
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 155%; MARGIN-BOTTOM: 0px; COLOR: #003366; FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
H2 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #999900; FONT-STYLE: italic; FONT-FAMILY: verdana, tahoma, arial, helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #cc9933; FONT-STYLE: italic; FONT-FAMILY: verdana, tahoma, arial, helvetica, sans-serif
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN-BOTTOM: 0px; COLOR: #cc6600; FONT-STYLE: italic; FONT-FAMILY: verdana, tahoma, arial, helvetica, sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN-BOTTOM: 0px; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
.red {
	COLOR: #993333
}
.dk-orange {
	COLOR: #cc6600
}
.orange {
	COLOR: #ff9900
}
.yellow {
	COLOR: #cc9933
}
.green {
	COLOR: #999900
}
.lt-blue {
	COLOR: #6699cc
}
.blue {
	COLOR: #336699
}
.purple {
	COLOR: #663366
}
.gray {
	COLOR: #666666
}
.white {
	COLOR: #ffffff
}
.bg-blue {
	COLOR: #ffffff; BACKGROUND-COLOR: #6699cc
}
.bg-green {
	COLOR: #ffffff; BACKGROUND-COLOR: #999900
}
.bg-red {
	COLOR: #ffffff; BACKGROUND-COLOR: #990033
}
A {
	FONT-SIZE: 100%; COLOR: #336699; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 100%; COLOR: #663366; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 100%; COLOR: #336699; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.country-name-link {
	FONT-WEIGHT: bold; FONT-SIZE: 160%; COLOR: #ffffff; MARGIN-RIGHT: 15px; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.country-name-link:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 160%; COLOR: #ffffff; MARGIN-RIGHT: 15px; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.country-name-link:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 160%; COLOR: #ffffff; MARGIN-RIGHT: 15px; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
A.icon-link {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #666666; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.icon-link:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #666666; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.icon-link:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #666666; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.top-navigation {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.top-navigation:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.top-navigation:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #c8e3ff; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-history {
	FONT-SIZE: 100%; COLOR: #888888; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-history:visited {
	FONT-SIZE: 100%; COLOR: #888888; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-history:hover {
	FONT-SIZE: 100%; COLOR: #666666; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.form-button-6699cc {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.form-button-6699cc:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.form-button-6699cc:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #c8e3ff; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.form-button-999900 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.form-button-999900:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.form-button-999900:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #e0e0a3; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.form-button-cccccc {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #eeeeee; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.form-button-cccccc:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #eeeeee; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.form-button-cccccc:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #eeeeee; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.application-tab {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.application-tab:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.application-tab:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #e0e0a3; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.webmaster {
	FONT-SIZE: 7pt; COLOR: #336699; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
A.webmaster:visited {
	FONT-SIZE: 7pt; COLOR: #336699; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
A.webmaster:hover {
	FONT-SIZE: 7pt; COLOR: #336699; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.navigation {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ffffff; LINE-HEIGHT: 15pt; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.navigation:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ffffff; LINE-HEIGHT: 15pt; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.navigation:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ffffff; LINE-HEIGHT: 15pt; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
A.navigation-bold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffa000; LINE-HEIGHT: 15pt; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.navigation-bold:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffa000; LINE-HEIGHT: 15pt; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.navigation-bold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffa000; LINE-HEIGHT: 15pt; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
A.copyright {
	FONT-SIZE: 7pt; COLOR: #ffffff; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.copyright:visited {
	FONT-SIZE: 7pt; COLOR: #ffffff; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.copyright:hover {
	FONT-SIZE: 7pt; COLOR: #ffffff; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
A.news-box {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #ffffff; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
A.news-box:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #ffffff; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
A.news-box:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #ffffff; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.sm {
	FONT-SIZE: 82%; COLOR: #336699; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
A.sm:hover {
	FONT-SIZE: 82%; COLOR: #663366; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
A.sm:visited {
	FONT-SIZE: 82%; COLOR: #336699; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.tbl-whitespace {
	FONT-SIZE: 0%; COLOR: #ffffff; FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
TABLE.partpage {
	FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
.tbl-partpage-subhead {
	FONT-WEIGHT: bold; FONT-SIZE: 76%; COLOR: #ffffff; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #336699
}
.tbl-partpage-bodydark {
	COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #c8e3ff
}
.tbl-partpage-bodylight {
	COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #e3f1ff
}
TABLE.fullpage {
	FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
.tbl-fullpage-subhead {
	FONT-WEIGHT: bold; FONT-SIZE: 76%; COLOR: #ffffff; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #666666
}
.tbl-fullpage-subhead-lt {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #999999
}
.tbl-fullpage-bodydark {
	COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #dddddd
}
.tbl-fullpage-bodylight {
	COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee
}
TABLE.fullpage-sm {
	FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
.tbl-fullpage-sm-subhead {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #666666
}
.tbl-fullpage-sm-subhead-lt {
	FONT-WEIGHT: bold; FONT-SIZE: 68%; COLOR: #ffffff; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #999999
}
.tbl-fullpage-sm-bodydark {
	FONT-SIZE: 68%; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #dddddd
}
.tbl-fullpage-sm-bodylight {
	FONT-SIZE: 68%; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee
}
TABLE.quote {
	FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
.tbl-quote-body {
	FONT-WEIGHT: bold; COLOR: #ff9900; LINE-HEIGHT: 12pt; FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
.tbl-quote-name {
	FONT-WEIGHT: normal; COLOR: #666666; FONT-STYLE: italic; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
TABLE.highlightone {
	FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
.tbl-highlightone-subhead {
	FONT-WEIGHT: bold; FONT-SIZE: 76%; COLOR: #ffffff; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #999900
}
.tbl-highlightone-body {
	COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #e0e0a3
}
TABLE.highlighttwo {
	FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
.tbl-highlighttwo-subhead {
	FONT-WEIGHT: bold; FONT-SIZE: 76%; COLOR: #ffffff; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #ff9900
}
.tbl-highlighttwo-body {
	COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #ffcc66
}
SELECT {
	FONT-SIZE: 100%; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee
}
INPUT {
	FONT-SIZE: 100%; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee
}
.InputInset {
	BACKGROUND-COLOR: #eeeeee
}
INPUT.radio {
	FONT-SIZE: 100%; CURSOR: hand; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #dddddd
}
.buttonbg {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #dddddd 1px solid; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../images/grey_grd.gif); BORDER-LEFT: #dddddd 1px solid; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 25px; BACKGROUND-COLOR: #eeeeee
}
INPUT.button {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #dddddd 1px solid; BACKGROUND-IMAGE: url(../images/box/grey_grd.gif); BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 25px; BACKGROUND-COLOR: #eeeeee
}
INPUT.search {
	FONT-SIZE: 8pt; CURSOR: text; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #dfefff
}
INPUT.email-friend {
	FONT-SIZE: 100%; WIDTH: 90%; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
TEXTAREA {
	FONT-SIZE: 100%; CURSOR: text; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee
}
TEXTAREA.contactsap {
	FONT-SIZE: 100%; WIDTH: 90%; CURSOR: text; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; HEIGHT: 100px; BACKGROUND-COLOR: #ffffff
}
TEXTAREA.email-friend {
	FONT-SIZE: 100%; WIDTH: 90%; CURSOR: text; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; HEIGHT: 62px; BACKGROUND-COLOR: #ffffff
}
TD.pageTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000066; FONT-FAMILY: tahoma, arial, helvetica, sans-serif
}
TD.commentText {
	COLOR: #ff6633; TEXT-DECORATION: none
}
TD.th {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #fefefe 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #fefefe 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}
TD.rowScroller {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ffffff 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 1px solid; TEXT-DECORATION: none
}
TD.formValue {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 2px; BORDER-BOTTOM: 0px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
DIV.tabOff {
	BACKGROUND-COLOR: #FFCC33
}
DIV.tabOn {
	BACKGROUND-COLOR: #4544AF
}
DIV.tabHi {
	BACKGROUND-COLOR: #ff6633
}
DIV.tabLo {
	BACKGROUND-COLOR: #999999
}
A.tabOff {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #FFFFFF; TEXT-DECORATION: none
}
A.tabOn {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #FFFFFF; TEXT-DECORATION: none
}
A.tabOff:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #FFFFFF; TEXT-DECORATION: none
}
A.tabOn:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #FFFFFF; TEXT-DECORATION: none
}
