.fancy .ajax__tab_header 
{
	font-size:13px;
	font-weight:bold;
	color:#000;
    font-family:sans-serif;
}
.fancy .ajax__tab_active .ajax__tab_outer,
.fancy .ajax__tab_header .ajax__tab_outer,
.fancy .ajax__tab_hover .ajax__tab_outer
{
    height:46px;
}
.fancy .ajax__tab_active .ajax__tab_inner,
.fancy .ajax__tab_header .ajax__tab_inner,
.fancy .ajax__tab_hover .ajax__tab_inner
{
    height:46px;
    margin-left:16px; /* offset the width of the left image */
}
.fancy .ajax__tab_active .ajax__tab_tab,
.fancy .ajax__tab_hover .ajax__tab_tab,
.fancy .ajax__tab_header .ajax__tab_tab
{
	margin:16px 16px 0px 0px;
}
.fancy .ajax__tab_hover .ajax__tab_tab,
.fancy .ajax__tab_active .ajax__tab_tab 
{
	color:#fff;
}
.fancy .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    border:1px solid #999999;
    border-top:0;
    padding:8px;
    background-color:#ffffff;
}

.fancy .ajax__tab_header 
{
    background:url(../images/blue_bg.gif) repeat-x;
}
.fancy .ajax__tab_hover .ajax__tab_outer,
.fancy .ajax__tab_active .ajax__tab_outer 
{
    background:url(../images/blue_left.gif) no-repeat left top;
}
.fancy .ajax__tab_hover .ajax__tab_inner,
.fancy .ajax__tab_active .ajax__tab_inner 
{
    background:url(../images/blue_right.gif) no-repeat right top;
}